.contactHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    margin-left: 2rem;
    margin-right: 4rem;
}

.contactHeader h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #443322;
    margin-right: 2.5rem;
}

.isBlankWarning {
    display: flex;
    justify-content: center;
    font-size: large;
    color: red;
    margin-top: 1rem;
}

.emailField {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.titleField {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contentField {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contactModal {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2vh;
}


@media (max-width: 600px) {
    .contactHeader {
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 1.5vh;
        margin-bottom: 1rem;
    }
    .contactHeader h2 {
        font-size: 3.8vw;
        margin-left: 7vw;
    }
    .isBlankWarning {
        font-size: 3vw;
        margin-top: 0;
        margin-bottom: 2vh;
    }
    .emailField {
        margin-top: 0.5vh;
    }
    .titleField {
        margin-top: 2.5vh;
    }
    .contentField {
        margin-top: 2.5vh;
    }
    .contactModal {
        margin-top: 4vh;
    }
}
