.topButtons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
}

.filterButtons {
    display: flex;
    align-content: center;
    place-items: center;
    height: 2.5rem;
    gap: 0.01rem;
}

.isUserLocationButton {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.topButtonsContent {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.startingSpotButton {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.topButtonsContent h2 {
    font-size: 2vw;
    font-weight: bold;
    color: #443322;
}

.topBottom {
    display: flex;
    justify-content: center;
    place-items: center;
    margin-top:2rem;
    margin-bottom: 1rem;
}

.errorMessage {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    padding-bottom: 2rem;
}

.visitedCounter {
    display: flex;
    gap: 1.8vw;
}


@media (max-width: 600px) {
    .topButtons {
        justify-content: center;
        margin-left: 4rem;
        margin-right: 4rem;
        gap: 1px;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .filterButtons {
        flex-direction: row;
        justify-content: center;
        gap: 1px;
    }
    .filterButtons > * { /*直接の子要素だけに適用*/
        margin: 0;
        padding: 0;
    }
    .isUserLocationButton {
        margin-right: 0;
    }
    .filterSpotButton {
        margin-left: -5px;
        padding-left: 0;
    }
    .visitedCounter {
        margin-left: -5px;
    }
    .selectStartingButton {
        margin-left: -13px;
    }
    .topButtonsContent {
        align-items: center;
        margin-top: 0;
        display: flex;
        justify-content: center;
        gap: 0;
    }
    .topButtonsContent {
        margin-bottom: 2vh;
    }
    .topButtonsContent h2 {
        font-size: 3.4vw;
    }
    .errorMessage {
        font-size: 3.4vw;
        padding-bottom: 1vh;
    }
    .topBottom {
        margin-top: 2.5vh;
    }
    
}